@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .baseSize {
    @apply text-sm
  }
  .sidebar-icon {
    @apply relative flex items-center justify-center
    h-12 w-12 mt-2 mb-2 mx-auto
    bg-gray-400 hover:bg-green-600 dark:bg-gray-800
    text-green-500 hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-150 ease-linear
    cursor-pointer shadow-lg
    active:translate-y-[2px];
  }
  .sidebar-icon:nth-last-child(2) {
    @apply mt-auto
  }
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900
    text-xs font-bold
    transition-all duration-100 scale-0 origin-left;
  }
  .normalBox {
    /*  */
    @apply rounded-md shadow-lg dark:bg-gray-700;
  }
  .chart-box {
    @apply rounded-md shadow-lg dark:bg-gray-700;
  }
  .chart-btn {
    @apply lg:col-span-5
          text-gray-800 dark:text-gray-400 font-bold normal-case
          bg-gray-200 dark:bg-gray-900 shadow-md border-none
          rounded-lg transition-all ease-in-out hover:text-white
          hover:bg-gray-600 dark:hover:bg-gray-600
  }
  .rect {
    @apply fill-gray-500 dark:stroke-gray-300 stroke-gray-900
  }
  .line__horz {
    @apply dark:stroke-gray-300 stroke-gray-900
  }
  .line__vert {
    @apply dark:stroke-gray-300 stroke-gray-900
  }
  .text__right {
    @apply dark:fill-gray-300 fill-gray-900
  }
  .text__left {
    @apply dark:fill-gray-300 fill-gray-900
  }
}

@layer base {
  h1 {
    /*  */
    @apply text-center text-xs whitespace-nowrap
  }
  button {
    /*  */
    @apply btn btn-sm whitespace-nowrap
  }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}
